*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


.header {
    background-image: url('/images/woman.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 140vh;
    padding: 2rem 9rem;
    overflow-y: hidden;
}






/* Navbar Part */























/* the order Form Part */

.orderForm h1 {
    font-size: 4.5rem;
    font-weight: bolder;
    width: 35%;
    padding: 10rem 0 2rem 0;
    color: rgb(88, 16, 125);
}

.orderForm p {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 2rem;
    color: rgb(133, 104, 158);
}



form {
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    padding: 1.5rem 0;
    width: 40%;
    text-align: center;
}

form input {
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(190, 190, 190);
    margin: 0 0.3rem 1.5rem 0.3rem;
    outline: none;
}

form button {
    text-align: center;
    padding: 0.6rem 0.8rem;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(255, 255, 255) ;
    background-color: #f17053 ;
    border: 1px solid #f17053;
}



/* How to Work Part */

.howToWork {
    text-align: center;
    background-color: rgb(255, 229, 233);
    padding: 5rem 12rem 3rem 12rem;
}


.howToWork h2 {
    font-size: 3.2rem;
    font-weight: bolder;
    color: rgb(88, 16, 125);
}

.howToWork h5 {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(107, 107, 107);
    padding: 1.5rem 0 5rem 0;
}

.howToWork p {
    font-weight: bold;
    color: rgb(107, 107, 107);
}

.howToWork h4 {
    color: rgb(88, 16, 125);
    font-weight: bolder ;
    font-size: 1.6rem;
    padding: 1rem 0;
}

.howToWork img {
    width: 30%;
}




/* the Products part */

.productsCat {
    background-color: rgb(255, 229, 233);
    padding: 5rem 2rem;
    text-align: center;
}

.productTitle {
    color: rgb(133, 104, 158);
    font-size: 1.5rem;
    font-weight: bold;
}

.productSubTitle {
    color: rgb(88, 16, 125);
    font-size: 3rem;
    font-weight: bolder;
    padding: 1rem;
}

.productType {
    padding: 1rem 25rem;

}

.productType ul {
    display: flex;
    justify-content: space-around;
}

.productsCat a {
    text-decoration: none;
    color: rgb(117, 117, 117);
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
}

.productsCat a:hover {
    color: rgb(27, 27, 27);
}

.productsCat a:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #ad281b;
    transition: 500ms;
}

.productsCat a:hover:after {
    width: 100%;
}





/* ads features */

.features {
    background-color: #303030;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 0 5rem;
}

.singleFeature {
    display: flex;
    padding-left: 8rem;
}

.singleFeature img {
    width: 20%;
}

.singleFeature div {
    padding-left: 1rem;
    padding-top: 1rem;
}




/* the Footer part */

footer {
    background-color: #1b1b1b;
    padding: 1rem 8rem;
    color: rgb(180, 180, 180);
    text-align: center;
    font-weight: bold;
}

.footer {
    border-bottom: 1px solid rgb(95, 95, 95);
}

.footerLinks {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0 1rem 0;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer img {
    width: 50%;
    padding-bottom: 1rem;
}

footer p {
    padding-top: 1rem;
}



/* the tiny arrow */


.upScroll {
    padding: 0 0 0.5rem 0.5rem;
    bottom: 0;
    left: 1rem;
    position: fixed;
}

.upScroll i {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    color: #2d2d2d;
}

.upScroll i:hover {
    color: #4d4d4d;
}

.hide {
    transition: all 500ms ease;
    left: -5rem;
}
